/**
 * @name TokyoNight
 * @description Based on the Tokyo Night VS Code theme
 * @author etrigan63
 * @version 1.0.0
 * @authorId 350378759158890507
 * @website https://www.echenique.com/
 * @source https://github.com/etrigan63/tokyonight-betterdiscord/
 * @updateUrl https://github.com/etrigan63/tokyonight-betterdiscord/TokyoNight.theme.css
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 157,124,216;
  --accentcolor2: 187,154,247;
  --linkcolor: 125,207,255;
  --mentioncolor: 255,158,100;
  --textbrightest: 192,202,245;
  --textbrighter: 169,177,214;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --font: 'Roboto';
  --backgroundaccent: 41,46,66;
  --backgroundprimary: 36,40,59;
  --backgroundsecondary: 31,35,53;
  --backgroundsecondaryalt: 65,72,104;
  --backgroundtertiary: 89,92,126;
  --backgroundfloating: 0,0,0;
  --settingsicons: 1;
}
